{
  "presets": ["module:metro-react-native-babel-preset", "mobx"],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
    // "transform-remove-console"
  ]
}
